.direnv

.local-secrets.md
.serena
.instance-backups
scripts/route53-mailgun*
.superpowers/

phase2/iac/.terraform/
phase2/iac/terraform.tfstate
phase2/iac/terraform.tfstate.backup
phase2/iac/*.tfvars
phase2/iac/tfplan
